In [1]:
import pandas as pd
data=pd.read_csv("examdatabase.csv")

In [2]:
data.head()

,Application_ID,D_O_B,SEX,H_Qual,TH_CENT_CH,SEC_TH_CEN,CATEGORY,Rollno,cent_allot,cent_add,examDate,batch,rep_time
0,9598673,9/13/1989,F,X,WGL,KARN,OBC,NaN,NaN,NaN,NaN,NaN,NaN
1,9657127,6/14/1989,M,GRAD,WGL,KARN,ST,NaN,NaN,NaN,NaN,NaN,NaN
2,9657164,10/13/1989,F,X,WGL,KARN,GEN,NaN,NaN,NaN,NaN,NaN,NaN
3,9657217,8/22/1985,M,GRAD,WGL,KARN,OBC,NaN,NaN,NaN,NaN,NaN,NaN
4,9657229,9/20/1991,M,X,WGL,KARN,GEN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
a=data.iloc[:3341,:6]

In [29]:
data.TH_CENT_CH(type)

TypeError: 'Series' object is not callable

In [28]:
string=data.TH_CENT_CH
count=0
for i in data.TH_CENT_CH:
    if i=:
        count+=1
        
        
            
        

print(count)

SyntaxError: invalid syntax (<ipython-input-28-7704bf3aacc7>, line 4)

In [19]:
data.shape

(3352, 13)

In [13]:
number

3352

In [15]:
series=student_df.apply(lambda x:True if x['TH_CENT_CH']="WGL" else False ,axis=1)
numofrows=len([series==true].index)
print(numofrows)

SyntaxError: invalid syntax (<ipython-input-15-e02580594262>, line 1)